# Environment variables for Playwright tests
# Copy this file to .env and update the values as needed

# Base URL for the application under test (without paths)
BASE_URL="https://cucumber.sendbox.askona.ru"

# Environment Data Variables (from project envData)
login="ivan.stepnov+9@testai.software"
password=
random_email="some.email@testai.software"
TESTIT_APIKEY=
TESTIT_URL="https://testai.testit.software/"
second_user_email="ivan.stepnov+3@testai.software"
second_user_password=
yaga_login=
yaga_pass=
teamstorm_login="anton.sergeev"
teamstorm_pass=
askona_login="askSandBox"
askona_pass=
dba_login="oreo@dba.ooo"
dba_pass=
neoflex_login="dev"
neoflex_pass=
BPMobile_login="testit@mailinator.com"
BPMobile_pass=
